*{
    width: 100%;
    height: 100%;
    margin: 0%;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 10%;
    min-height: 50px;
    background-color: #012d6c;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
#archive{
    width:10%;
    padding: 0%;
    border-style: none;
}
#archive-content{
    width: 50%;
    height: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    transition: 1s ease-in-out;
    position: relative;
    right: -25%;
    overflow:hidden;
}
#timeline{
    width: 90%;
    height: 10%;
    min-height: 30px;
    padding-top: 1%;
    padding-bottom: 1%; 
    border-bottom: 2%;
    border-style: solid;
    border-width: 10px;
    border-color: white ;
    border-bottom-color: #012d6c;
    margin: 1%;
}
.title{
    background-color: #012d6c;
    width: 100%;
    height: 10%;
    color: white;
    font-size: xx-large;
    min-height: 30px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
.events{
    width: 100%;
    height: 120%;
    padding-top: 4%;
    padding-bottom: 4%;
    min-width: 350px;
    min-height: 1000px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0%;
    align-items: center;
}
.card{
    width: 90%;
    height: 30%;
    min-width: 250px;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #def2f1;
    border-bottom-right-radius: 25px;
    box-shadow:5px 10px #012d6c;
}
.card:hover{
    box-shadow: 0px 0px;
}
.card .image{
    width: 30%;
    height: 100%;
    position: relative;
    left: 10%;
}
.card-contents{
    width: 50%;
    height: 100%;
    font-size: large;
    box-sizing: border-box;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-contents h2{
    padding-bottom: 5%;
    height: 10%;
    border-bottom-style: solid;
    border-bottom-color: #012d6c;
}
.card-contents p{
    min-height: 60px;
    height: 70%;
    padding: 2%;
    text-align: justify;
}
.card-contents a{
    height: 10%;
    padding: 2%;
    border-style: none;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#others{
    width: 90%;
    height: 50%;
    position: relative;
    left: 5%;
    min-height: 500px;
    flex-direction: row;
    justify-content: space-around;
}

#other-card{
    width: 30%;
    height: 100%;
    flex-direction: column;
}

#other-card .image{
    width: 90%;
    height: 50%;
    padding: 4%;
}

#other-card .card-contents{
    width: 100%;
    height: 50%;
    font-size: medium;
}

#other-card h2{
    height: 17%;
}
#other-card .image{
    left:5%;
}
#other-card p,a{
    padding: 1%;
}
#other-card a{
    padding-bottom:5% ;
}

@media (max-width:426px){
    #timeline{
        height: 5%;
        padding-bottom: 10%;
        margin-bottom: 3%;
    }
    .events{
        width: 70%;
        left: 15%;
        min-height: 1200px;
    }
    .card{
        min-height: 350px;
        width: 85%;
        flex-direction: column;
        position: relative;
        left: 6%;
    }
    .card .image{
        width: 90%;
        height: 50%;
        padding: 5%;
        left: 5%;
    }
    .card-contents{
        width: 100%;
        height: 50%;
        font-size: small;
    }
    .card-contents p{
        padding-top: 0%;
        height: 60%;
        padding-left: 2%;
    }
    .card-contents a{
        padding-bottom: 5%;
    }
    .card-contents h2{
        height: 10%;
        padding-bottom: 8%;
    }

   
}

@media (max-width:755px){
    #archive{
        width: 25%;
    }
    #others{
        flex-direction: column;
        min-height: 1200px;
        height: 100%;
        left: 0%;
    }
    #other-card{
        width: 85%;
        height: 30%; 
    }
    #other-card .card-contents{
        font-size: small;
    }
    #other-card p{
        padding-top: 2%;
        height: 75%;
        padding-left:3% ;
    }
    #other-card a{
        padding-bottom: 6%;
        padding-left: 3%;
    }
    #other-card h2{
        height: 1%;
    }
}