*{
    width: 100%;
    height: 100%;
    margin: 0%;
}
.navbar{
    width: 100%;
    height: 10%;
    min-height: 50px;
    background-color: #012d6c;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
#archive{
    width:50%;
    padding: 0%;
    border-style: none;
}
#archive-content{
    width: 50%;
    height: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    transition: 1s ease-in-out;
    position: relative;
    right: -25%;
    overflow:hidden;
}
#timeline{
    width: 90%;
    height: 5%;
    min-height: 30px;
    padding-top: 1%;
    padding-bottom: 1%; 
    border-bottom: 2%;
    border-style: solid;
    border-color: white ;
    border-bottom-color: #012d6c;
    margin: 1%;
}
.title{
    width: 100%;
    height: 5%;
    min-height: 30px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    border-top:1%;
    border-style: solid;
    border-color: blue;
}
.events{
    width: 100%;
    height: 120%;
    padding-top: 4%;
    padding-bottom: 4%;
    min-width: 400px;
    min-height: 1000px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1%;
    align-items: center;
}
.card{
    width: 90%;
    height: 30%;
    min-width: 300px;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #def2f1;
    border-bottom-right-radius: 25px;
    box-shadow:5px 10px #012d6c;
}
.card:hover{
    box-shadow: 0px 0px;
}
.card img{
    padding-left: 10%;
    width: 30%;
    height: 100%;
}
.card-contents{
    width: 50%;
    height: 100%;
    font-size: large;
    box-sizing: border-box;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-contents h2{
    padding-bottom: 1%;
    height: 10%;
    border-bottom-style: solid;
    border-bottom-color: #012d6c;
}
.card-contents p{
    min-height: 90px;
    height: 70%;
}
.card-contents a{
    height: 10%;
    border-style: none;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-contents span{
    display: flex;
    flex-direction: row;
}
.card-contents span {
    width: 10%;
}

.other-events{
    width: 80%;
    height: 70%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0%;
    position: relative;
    left: 10%;
}

.other-card{
    box-sizing: border-box;
    width: 30%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    background-color: #def2f1;
    border-bottom-right-radius: 25px;
    box-shadow:5px 10px #012d6c;
}

.other-card .card-contents{
    width: 100%;
    height: 100%;
    text-align: justify;
}

.other-card .image{
    width: 90%;
    height: 50%;
}

@media (max-width:426px){
    .events{
        width: 70%;
        left: 15%;
    }
    .card{
        width: 85%;
        flex-direction: column;
        position: relative;
        left: 2%;
    }
    .card img{
        width: 90%;
        height: 40%;
        padding: 5%;
    }
    .card-contents{
        width: 100%;
        font-size: x-small;
    }
    .card-contents h{
        height: 5%;
    }
    .other-events{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-width: 400px;
        min-height: 1000px;
        left: 5%;
    }
    .other-card{
        min-width: 300px;
        min-height: 250px;
        max-height: 300px;
    }
    .other-card .image{
        height: 60%;
        padding: 4%;
    }
    .other-card .card-contents{
        padding: 0%;
    }
    .other-card .card-contents p{
        height: 80%;
    }
}